button:hover {
	background-color: blue;
	outline: none;
}

h1:after {
	content: "  |  ";
	font-family: 'FontAwesome';
}

tr:nth-child(even) {
	background-color: grey;
}

tr:nth-child(odd) {
	background-color: #eeeeee;
}

tr:first-child {
	background-color: blue;
}