button:hover {
	background-color: blue;
	outline: none;
}


li {
	display: inline-block;
}

li::after{
	content: "  |  ";
	font-family: 'FontAwesome';
}

li:last-child::after {
	content:"";
}

tr:nth-child(even) {
	background-color: #ffffff;
}

tr:nth-child(odd) {
	background-color: #eeeeee;
}

tr:first-child {
	background-color: blue;
}